@()
<script src='@controllers.qbforms.routes.Assets.at("javascripts/angular.js")'       type="text/javascript"></script>
<script src='@controllers.qbforms.routes.Assets.at("javascripts/angular-route.js")' type="text/javascript"></script>

<script src='@controllers.qbforms.routes.Assets.at("javascripts/services.js")'    type="text/javascript"></script>
<script src='@controllers.qbforms.routes.Assets.at("javascripts/controllers.js")' type="text/javascript"></script>
<script src='@controllers.qbforms.routes.Assets.at("javascripts/directives.js")'  type="text/javascript"></script>
<script src='@controllers.qbforms.routes.Assets.at("javascripts/app.js")'         type="text/javascript"></script>

