@()
<script src='@routes.Assets.at("js/angular.js")'             type="text/javascript"></script>
<script src='@routes.Assets.at("js/angular-route.js")'       type="text/javascript"></script>

<script src='@routes.Assets.at("js/qbforms/services.js")'    type="text/javascript"></script>
<script src='@routes.Assets.at("js/qbforms/controllers.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("js/qbforms/directives.js")'  type="text/javascript"></script>
<script src='@routes.Assets.at("js/qbforms/app.js")'         type="text/javascript"></script>

